# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png

# Android
*.iml
.gradle/
local.properties
*.keystore
*.jks

# iOS
Pods/
DerivedData/
.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Android Studio
.idea/

# Others
*.log
*.tmp
*.swp
